.about__wrapper {
  display: flex;
  margin: 95px 0 100px;

  @include vp-1023 {
    margin: 50px 0 80px;
  }

  @include vp-768 {
    margin: 20px 0 80px;
  }
}

.about__year {
  position: relative;
  display: block;
  margin-bottom: auto;
  font-family: $ff-main-Roboto_condensed;
  font-weight: 700;
  font-size: 156px;
  line-height: 220px;
  transform: rotate(180deg);
  writing-mode: vertical-lr;
  background-image: url("../img/year_background.jpg");
  background-position: 40% 20%;
  background-clip: text;
  color: transparent;

  @include retina {
    background-image: url("../img/year_background@2x.jpg");
    background-size: 200%;
    background-position: 42% 40%;
  }

  @include vp-768 {
    display: none;
  }
}

.about__inner {
  color: $color-black-pearl;

  h2 {
    font-family: $ff-main-Roboto_condensed;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 51px;
    margin: 0;
    margin-bottom: 15px;
    padding: 0;

    @include vp-768 {
      font-size: 28px;
      line-height: 39px;
    }
  }

  p {
    margin: 0;
    margin-bottom: 22px;

    @include vp-768 {
      font-size: 14px;
      line-height: 18px;
    }
  }
}

.about__button {
  width: 180px;
  height: 45px;
  align-items: center;
  justify-content: center;

  @include vp-768 {
    width: 160px;
    height: 35px;
  }
}
