.btn {
  display: inline-flex;
  padding: 10px 15px;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  color: $color-default-white;
  text-transform: uppercase;
  border-radius: 3px;
  background-color: transparent;
  cursor: pointer;

  transition: opacity $trans-default;
  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}

.btn-contact {
  width: 160px;
  height: 40px;
  border: 1px solid #f2f5f7;

  @include vp-770 {
    display: none;
  }
}

.btn--modal {
  font-size: 16px;
  line-height: 19px;
  background: #041427;
  border: none;
  border-radius: 3px;
  padding: 15px 0;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;

  @include hover {
    opacity: 1;
    background-color: #000;
  }
}
