.btn {
  display: inline-flex;
  padding: 10px 15px;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  color: $color-default-white;
  text-transform: uppercase;
  border-radius: 3px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;

  transition: opacity $trans-default;
  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}

.btn--contact {
  width: 160px;
  height: 40px;
  border: 1px solid #f2f5f7;

  @include vp-1023 {
    display: none;
  }
}

.btn--modal {
  font-size: 16px;
  line-height: 19px;
  background: #041427;
  border: none;
  border-radius: 3px;
  padding: 15px 0;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;

  @include hover {
    opacity: 1;
    background-color: #000;
  }
}

.btn--primary {
  font-size: 18px;
  line-height: 21px;
  background: #00b2ff;
}

.btn--secondary {
  border: 1px solid #00b2ff;
  color: #00b2ff;

  &:hover {
    transition: 0.2s linear;
    background-color: #00b2ff;
    color: $color-default-white;
  }

  &:active {
    background-color: #009cdf;
  }

  &:focus {
    outline: 2px solid #000;
    outline-offset: 1px;
  }
}

.btn-unfold {
  display: none;

  @include vp-770 {
    display: block;
    position: absolute;
    top: 20px;
    right: 0;
    padding: 0;
    margin: 0;
    width: 15px;
    height: 15px;
    border: none;
    outline: none;
    background-color: transparent;

    &::after {
      position: absolute;
      content: "";
      width: 15px;
      height: 1px;
      background-color: #c4c4c4;
      top: 7.5px;
      right: 0;
    }
  }
}

.btn-unfold--show {
  @include vp-770 {
    &::before {
      position: absolute;
      content: "";
      width: 15px;
      height: 1px;
      background-color: #c4c4c4;
      top: 7.5px;
      right: 0;
      transform: rotate(90deg);
    }
  }
}
