.btn {
  display: inline-flex;
  padding: 10px 15px;
  font-family: $ff-main-Roboto_condensed;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  color: $color-default-white;
  text-transform: uppercase;
  border-radius: 3px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;

  transition: opacity $trans-default;

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}

.btn--contact {
  width: 160px;
  height: 40px;
  border: 1px solid $color-alice-blue;

  @include vp-1023 {
    display: none;
  }
}

.btn--form {
  max-width: 420px;
  width: 100%;
  font-size: 16px;
  line-height: 19px;
  background: #041427;
  border: none;
  border-radius: 3px;
  padding: 15px 0;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;

  @include hover {
    opacity: 1;
    background-color: $color-default-black;
  }
}

.btn--primary {
  font-size: 18px;
  line-height: 21px;
  background: $color-deepsky-blue;
}

.btn--secondary {
  border: 1px solid $color-deepsky-blue;
  color: $color-deepsky-blue;
  transition: background-color $trans-default;

  &:hover {
    background-color: $color-deepsky-blue;
    color: $color-default-white;
  }

  &:active {
    background-color: $color-pacific-blue;
  }

  &:focus {
    outline: 2px solid $color-default-black;
    outline-offset: 1px;
  }
}

.btn__unfold {
  padding: 0;
  margin-bottom: 20px;

  @include vp-768 {
    text-align: left;
    padding: 22px 0;
    margin: 0;
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;

    &::after {
      position: absolute;
      content: "";
      width: 15px;
      height: 1px;
      background-color: $color-silver;
      top: 27px;
      right: 0;
    }

    &::before {
      position: absolute;
      content: "";
      width: 15px;
      height: 1px;
      background-color: $color-silver;
      top: 27px;
      right: 0;
      transform: rotate(90deg);
    }
  }
}

.btn__unfold-text {
  font-family: $ff-main-Roboto_condensed;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-default-white;
}
