.custom-toggle {
  position: relative;
  max-width: 260px;

  input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0 0 0 0);
  }

  label {
    font-family: "PT Mono";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
    opacity: 0.8;
    position: relative;
    display: inline-block;
    padding-left: 26px;
    margin-top: 10px;
    cursor: pointer;

    @include vp-770 {
      margin-top: 5px;
    }

    span {
      margin-bottom: 0;
      margin-left: 0;
    }
  }

  &--checkbox {
    .custom-toggle__icon {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);

      width: 15px;
      height: 15px;

      border: 1px solid $color-default-white;
      border-radius: 2px;

      transition: border $trans-default;
    }
  }

  &--radio {
    .custom-toggle__icon {
      position: absolute;
      top: 0;
      left: 0;

      width: 28px;
      height: 28px;

      border: 1px solid $color-neon-blue;
      border-radius: 50%;

      transition: border $trans-default;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;

        width: 20px;
        height: 20px;

        color: rgba(255, 255, 255, 0);

        border-radius: 50%;
        transform: translate(-50%, -50%);

        transition: color $trans-default;
      }
    }
  }

  input:checked + .custom-toggle__icon {
    border: 1.5px solid $color-neon-blue;

    &::before {
      content: "";
      position: absolute;
      background-image: url("img/svg/apply.svg");
      background-repeat: no-repeat;
      top: 3px;
      left: 2px;
      height: 6px;
      width: 7px;
    }
  }

  &.is-invalid {
    label span {
      color: $color-torch-red;
    }
  }

  .input-message {
    position: absolute;
    right: 0;
    bottom: -5px;

    &.is-invalid {
      color: $color-torch-red;
    }

    &.is-valid {
      color: #15ab07;
    }
  }
}
