.custom-input,
.custom-textarea {
  position: relative;

  display: flex;

  label {
    display: flex;
    align-items: center;
    width: 100%;

    @media screen and (max-width: 767px) {
      align-items: flex-start;
      flex-direction: column;
    }

    input,
    textarea {
      flex-grow: 1;
      max-width: 300px;
      min-height: 48px;
      margin-left: auto;
      padding: 10px;

      border: 2px solid rgba($color-default-black, 0.2);
      border-radius: 5px;
      outline: none;

      transition: border $trans-default;

      @media screen and (max-width: 767px) {
        max-width: unset;
        width: 100%;
      }

      &:hover {
        border: 2px solid rgba($color-default-black, 0.5);
      }

      &:focus {
        border: 2px solid rgba($color-default-black, 0.8);
      }
    }
  }

  &__label {
    @media screen and (max-width: 767px) {
      margin: 0 0 18px 0;
    }
  }

  &__error {
    position: absolute;
    right: 0;
    bottom: 35px;

    color: $color-torch-red;

    opacity: 0;

    transition: opacity $trans-default;

    @media screen and (max-width: 767px) {
      bottom: 20px;
    }
  }

  &.is-invalid {
    input,
    textarea {
      border: 2px solid $color-torch-red;

      &:focus,
      &:hover {
        border: 2px solid rgba($color-torch-red, 0.5);
      }
    }
  }

  &.is-valid {
    input {
      border: 2px solid $color-islamic-green;

      &:focus,
      &:hover {
        border: 2px solid rgba($color-islamic-green, 0.5);
      }
    }
  }

  .input-message {
    position: absolute;
    right: 0;
    bottom: -5px;

    &.is-invalid {
      color: $color-torch-red;
    }

    &.is-valid {
      color: $color-islamic-green;
    }
  }
}
