.introducing {
  position: relative;
  height: 880px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    z-index: 1;
    height: 880px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../img/background-img_desktop.jpg");

    @supports (background: url("../img/background-img_desktop.webp")) {
      background: url("../img/background-img_desktop.webp") no-repeat
        center/cover;
    }
  }

  @media (min-width: $vp-1024) {
    @include retina {
      background-image: url("../img/background-img_desktop@2x.jpg");
      background-size: cover;

      @supports (background: url("../img/background-img_desktop@2x.webp")) {
        background: url("../img/background-img_desktop@2x.webp") no-repeat
          center/cover;
      }
    }
  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: -20px;
    left: 0;
    z-index: 2;
    background: linear-gradient(
      180deg,
      rgba(25, 32, 36, 0.7) 71.72%,
      rgba(25, 32, 36, 0) 100%
    );
  }

  @include vp-1023 {
    height: 640px;

    &::before {
      height: 640px;
      background-image: url("../img/background-img_tablet.jpg");
      background-position: 55% 0;

      @supports (background: url("../img/background-img_tablet.webp")) {
        background: url("../img/background-img_tablet.webp") no-repeat 55% 0 /
          cover;
      }

      @include retina {
        background-image: url("../img/background-img_tablet@2x.jpg");
        height: 640px;

        @supports (background: url("../img/background-img_tablet@2x.webp")) {
          background: url("../img/background-img_tablet@2x.webp") no-repeat 55%
            0 / cover;
        }
      }
    }

    &::after {
      height: 540px;
    }
  }

  @include vp-768 {
    height: 560px;

    &::before {
      height: 560px;
      background-image: url("../img/background-img_mobile.jpg");

      @supports (background: url("../img/background-img_mobile.webp")) {
        background: url("../img/background-img_mobile.webp") no-repeat
          center/cover;
      }

      @include retina {
        background-image: url("../img/background-img_mobile@2x.jpg");

        @supports (background: url("../img/background-img_mobile@2x.webp")) {
          background: url("../img/background-img_mobile@2x.webp") no-repeat
            center/cover;
        }
      }
    }

    &::after {
      height: 490px;
    }
  }
}

.introducing__inner {
  position: absolute;
  max-width: 1024px;
  top: 305px;
  left: 43%;
  transform: translateX(-50%);
  z-index: 20;

  h1 {
    font-family: $ff-main-Roboto_condensed;
    font-weight: 700;
    font-size: 80px;
    line-height: 94px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 40px;
    padding: 0;

    @include vp-1023 {
      font-size: 64px;
      line-height: 75px;
      margin-bottom: 0;
    }

    @include vp-768 {
      margin-bottom: 8px;
      font-size: 36px;
      line-height: 42px;
      max-width: 270px;
    }
  }

  p {
    line-height: 155%;
    font-size: 22px;
    max-width: 685px;
    margin: 0;
    margin-bottom: 40px;
    padding: 0;

    @include vp-1023 {
      margin-bottom: 56px;
      max-width: 670px;
    }

    @include vp-768 {
      margin-bottom: 44px;
      width: 100%;
      font-size: 14px;
      max-width: 270px;
    }
  }

  @include vp-1023 {
    top: 180px;
    left: 0;
    transform: translateX(0);
    padding: 0 50px;
  }

  @include vp-768 {
    top: 154px;
    padding: 0;
    padding-left: 24px;
  }
}

.introducing__btn {
  width: 410px;
  height: 55px;
  padding: 15px 25px;

  @include vp-1023 {
    margin-left: 45px;
  }

  @include vp-768 {
    width: 270px;
    height: 40px;
    padding: 10px 30px;
    margin-left: 0;
  }
}

.introducing__btn-text {
  @include vp-768 {
    display: none;
  }
}

.introducing__btn-text-mobile {
  display: none;

  @include vp-768 {
    letter-spacing: 0.05em;
    font-size: 14px;
    line-height: 16px;
    display: inline-block;
    padding: 4px 4px 0 6px;
  }
}
