.main-header {
  width: 100%;
  padding: 30px 0 35px;
  position: fixed;
  z-index: 99;
  background: $blackpearl-to-bottom;

  @include vp-1023 {
    position: static;
    padding: 20px 0 25px;
  }

  @include vp-768 {
    padding: 0 0 20px;
  }
}

.main-header__wrapper {
  display: flex;
  justify-content: space-between;
}

.main-header__contact {
  @include vp-1023 {
    margin-left: auto;
    margin-right: 20px;
  }

  @include vp-768 {
    padding-top: 10px;
    margin-right: 10px;
  }
}

.main-header__list {
  max-width: 510px;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;

  @include vp-1023 {
    justify-content: space-between;
  }
}

.main-header__list-item {
  transition: opacity $trans-default;
  margin: 15px 42px 8px 0;
  min-width: 210px;

  &:last-child {
    margin-right: 0;
  }

  @include vp-1023 {
    min-width: 42px;
    margin: 0px 20px 8px 0;

    &:last-child {
      margin-right: 0;
    }
  }

  @include hover {
    opacity: 0.8;
  }

  a {
    &:active {
      opacity: 0.6;
    }
  }

  @include vp-768 {
    margin: 0px 20px 0px 0;

    &:last-child {
      margin-right: 0;
    }
  }
}

.main-header__list-link {
  font-family: $ff-main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  align-items: center;
  display: flex;
  color: $color-alice-blue;

  @include vp-1023 {
    padding: 10px;
  }
}

.main-header__link-icon {
  margin-right: 15px;
  height: 20px;

  @include vp-1023 {
    margin-right: 0;
  }
}

.main-header__link-text {
  @include vp-1023 {
    display: none;
  }
}

.main-header__button {
  margin-top: 8px;
  margin-right: 60px;
  flex-shrink: 0;

  @include focus {
    outline: 2px solid $color-deepsky-blue;
    border: none;
    opacity: 1;
  }
}
